<div class="container">
  <div class="answers-container">
    <p> me: <%= params['question'] %></p>
    <p> coach: <%= @the_answer %></p>

    <%= link_to 'ask a new question', ask_path %>
  </div>
</div>